@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #222;
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 0px;
  width: 100%;
}

body img {
  border-radius: 50%;
  height: 150px;
}

body .cards {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.card {
  display: flex;
  align-items: center;
  color: #000;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  font-size: 24px;
  justify-content: space-between;
  min-width: 150px;
}

.card h1 {
  font-size: 24px;
}
